@import url("assets/css/reset.css");
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic);

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #363636;
	background-color: #f5f5f5;
}

* {
	transition: background-color .4s, color .4s, font-size .3s;
	-webkit-transition: background-color .4s, color .4s, font-size .3s;
}

p {
	margin-bottom: .25em;
}
img {
	width: 100%;
	height: auto;
}
strong {
	font-weight: 600;
}

h1, h2 {
	font-size: 5em;
	line-height: .95em;
	font-weight: 200;
	text-transform: uppercase;
	color: #1e7095;
}

#wrapper {
	width: 85%;
	margin: auto;
	padding-top: 4em;
	display: table;
}

#logo {
	width: 53%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 10;
}
	#icon-X {
		width: 40%;
		position: absolute;
		left: 16%;
		top: 27%;
		display: block;
		fill: rgba(234, 196, 17, .56);
	}

#title {
	width: 46%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: -32px;
	overflow: hidden;
}

#secondary-content {
	width: 50%;
	display: block;
	margin: 4em auto;
	text-align: center;
}
	#secondary-content a {
		font-size: 1.25em;
		line-height: 1.15em;
		text-transform: uppercase;
		color: #fff;
		background-color: #a23141;
		padding: 1em 2.5em;
		border-radius: 5px;
		display: inline-block;
		margin-top: 1em;
	}
	#secondary-content a:hover {
		background-color: #d01933;
		text-shadow: 0 2px 3px #5a1821;
	}

footer {
	width: 100%;
	font-size: .75em;
	line-height: 1.25em;
	text-align: center;
	color: #666;
}
	footer a {
		color: #2da3d8;
		text-decoration: underline;
	}
	footer a:hover {
		color: #a23141;
	}

.footer-fixed {
	position: fixed;
	bottom: 1em;
}

/* RESPONSIVE */

@media screen and (min-width: 1441px) {
	h1, h2 {
		font-size: 7em;
	}
}
@media screen and (max-width: 1440px) {
	h1, h2 {
		font-size: 6.25em;
	}
}
@media screen and (max-width: 1350px) {
	h1, h2 {
		font-size: 5.7em;
	}
}
@media screen and (max-width: 1200px) {
	h1, h2 {
		font-size: 5em;
	}
}
@media screen and (max-width: 1024px) {
	h1, h2 {
		font-size: 4em;
	}
}
@media screen and (max-width: 830px) {
	h1, h2 {
		font-size: 3.5em;
	}
}
@media screen and (max-width: 728px) {
	h1, h2 {
		font-size: 3.1em;
	}
}
@media screen and (max-width: 728px) {
	#secondary-content {
		width: 75%;
		margin: 2em auto 4em;
	}
}

@media screen and (max-width: 640px) {
	h1 {
		font-size: 2.75em;
	}
	h2 {
		font-size: 1.25em;
	}

	br {
		display: none;
	}

	#wrapper {
		width: 95%;
	}

	#logo {
		width: 40%;
		display: block;
		margin: auto;
	}

	#title {
		width: 100%;
		display: block;
		position: static;
		left: 0;
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	#logo {
		width: 60%;
	}
	#secondary-content {
		width: 85%;
	}
}

@media screen and (max-width: 375px) {
	#secondary-content a {
		font-size: 1.25em;
	}
}